name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    environment: build
    permissions:
      checks: write
      pull-requests: write
      id-token: write
      contents: read
    
    strategy:
      matrix:
        dotnet-version: ['6.0.x', '8.0.x', '9.0.x']
        
    steps:
    - name: Azure login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.APP_ID }}
        tenant-id: ${{ secrets.TENANT }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
    - uses: actions/checkout@v4
    
    - name: Setup .NET ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
        
    - name: Display .NET version
      run: dotnet --version
      
    - name: Restore dependencies for .NET 6.0
      if: matrix.dotnet-version == '6.0.x'
      run: dotnet restore src -f net6.0
      
    - name: Restore dependencies for .NET 8.0
      if: matrix.dotnet-version == '8.0.x'
      run: dotnet restore src -f net8.0
      
    - name: Restore dependencies for .NET 9.0
      if: matrix.dotnet-version == '9.0.x'
      run: dotnet restore src
      
    - name: Build with .NET 6.0
      if: matrix.dotnet-version == '6.0.x'
      run: dotnet build src --no-restore --configuration Release -f net6.0
      
    - name: Build with .NET 8.0
      if: matrix.dotnet-version == '8.0.x'
      run: dotnet build src --no-restore --configuration Release -f net8.0
      
    - name: Build with .NET 9.0
      if: matrix.dotnet-version == '9.0.x'
      run: dotnet build src --no-restore --configuration Release
      
    - name: Test with .NET 6.0
      if: matrix.dotnet-version == '6.0.x'
      env:
        ingestionURI : ${{secrets.INGESTION_URI}}
        databaseName : ${{secrets.DATABASE_NAME}}
        appId : ${{secrets.APP_ID}}
        tenant : ${{secrets.TENANT}}
      run: dotnet test src/Serilog.Sinks.AzureDataExplorer.Tests/Serilog.Sinks.AzureDataExplorer.Tests.csproj --configuration Release -f net6.0 --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./TestResults
      
    - name: Test with .NET 8.0
      if: matrix.dotnet-version == '8.0.x'
      env:
        ingestionURI : ${{secrets.INGESTION_URI}}
        databaseName : ${{secrets.DATABASE_NAME}}
        appId : ${{secrets.APP_ID}}
        tenant : ${{secrets.TENANT}}
      run: dotnet test src/Serilog.Sinks.AzureDataExplorer.Tests/Serilog.Sinks.AzureDataExplorer.Tests.csproj --configuration Release -f net8.0 --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./TestResults
      
    - name: Test with .NET 9.0
      if: matrix.dotnet-version == '9.0.x'
      env:
        ingestionURI : ${{secrets.INGESTION_URI}}
        databaseName : ${{secrets.DATABASE_NAME}}
        appId : ${{secrets.APP_ID}}
        tenant : ${{secrets.TENANT}}
      run: dotnet test src/Serilog.Sinks.AzureDataExplorer.Tests/Serilog.Sinks.AzureDataExplorer.Tests.csproj --configuration Release --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./TestResults

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-${{ matrix.dotnet-version }}
        path: ./TestResults/**/coverage.cobertura.xml
