name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: build
    permissions:
      checks: write
      pull-requests: write
      id-token: write
      contents: read  

    steps:
    - name: Azure login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.APP_ID }}
        tenant-id: ${{ secrets.TENANT }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}      
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore src
    - name: Build
      run: dotnet build src --no-restore

    - name: Test with Coverage
      env:
        ingestionURI : ${{secrets.INGESTION_URI}}
        databaseName : ${{secrets.DATABASE_NAME}}
        appId : ${{secrets.APP_ID}}
        tenant : ${{secrets.TENANT}}
      run: dotnet test src/Serilog.Sinks.AzureDataExplorer.Tests/Serilog.Sinks.AzureDataExplorer.Tests.csproj --no-build --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./TestResults

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: ./TestResults/**/coverage.cobertura.xml
